.teaserBackground {
    background-image: url("../images/background_photo_top.jpg");
    background-size: cover;
    margin-bottom: 100px;
}

.backgroundLine {
    background-image: url("../images/smartphone_bg_text.png");
    background-size: cover;
    width: 100%;
    height: 125px;
}


.centerForXInTeaser {
    text-align: center;
    white-space: pre-wrap;
}

.inputTeaser {
    border: 2px solid white;
    background-color: transparent;
}

.smartText {
    padding-top: 90px;
}


.arrowDown {
    width: 5%;
}

.smartphone {
    width: 20%;
}

.whiteSpaceToWrap {
    white-space: pre-wrap;
font-size: 12px;
}

.backgroundForTranglePicture {
    background: linear-gradient(180deg, white, white 50%, #1f1f1f);
}

.bgColorForLaptop {
    background: #1f1f1f;
}

ul {
    list-style-type: none;
}

.blueButtons {
    border: none;
    color: white;
    background-color: #1a88ef;
    border-radius: 3px;
}

.saveTimeButton {
    border: 2px solid #1a88ef;
    background-color: white;
    color: #1a88ef;
}

footer {
    background-color: #2a394f;
}
.topicFooter {
    color: white;
}
li {
    color: #6788b7;
}