.teaserBackground {
    background-image: url("../images/background_photo_top.jpg");
    background-size: cover;
}


.centerForXInTeaser {
    text-align: center;
    white-space: pre-wrap;
}


.arrowDown {
    width: 5%;
}
